header {
  background-color: #C3E2C2;
  position: sticky;
  top: 0;
  z-index: 10;
}
header * {
  gap: 20px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #CD8D7A;
  color: #EAECCC;
  text-align: center;
  height: 100px;
  position: sticky;
  bottom: 0;
  z-index: 10;
}

main {
  background-color: #EAECCC;
}
#title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
}

#title * {
  padding: 20px;
  line-height: 0;
}

.card {
  height: 300px;
}

img {
  height: auto;
  object-fit: cover;
}